<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main::copyParam(
      	~{::title},	<!--/* title 		대체 */-->
      	~{::link},	<!--/* links 		추가 */-->
      	~{::script},				<!--/* scripts 	생략 */-->
      	~{::style},				<!--/* style */-->
      	~{},				<!--/* header */-->
      	~{::nav},					<!--/* nav */ 기본값 사용 */--> 
      	~{::main},  <!--/* main 		대체 */-->
      	_  					<!--/* footer */ 기본값 사용 */--> 
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>게시글 수정</title>
  
  <link rel="stylesheet" href="/css/xxx.css" />
  <style>
    .wrap #writeForm {
      width:600px;
      margin: 50px auto;
    }
    .wrap #writeForm label{
      letter-spacing: 0.5em;
    }
    .wrap #writeForm i.fas.fa-backspace{
    	cursor: pointer;
    	color: #f06292;
    }
  </style>  
  <script src="/js/common/ajaxCall.js" defer></script>
  <script src="/js/bbs/editForm.js" defer></script>
</head>
<body>
  <div class="global-wrap">
    <div class="hdr">
      <div class="inner hdr-inner">
        <header>헤더</header>
      </div>
    </div>
    <div class="gnb">
      <div class="inner gnb-inner">
        <nav th:replace="~{fragment/gnb/menu::global}">메뉴</nav>
      </div>
    </div>       
    <div class="main">
      <div class="inner main-inner">
      	<main>
					 <div class="wrap" th:with="email=${session?.loginMember?.email}">
					    <form action="" class="row gx-3 gy-2 align-items-center" th:method="patch"
					    	id="writeForm" th:object="${editForm}" enctype="multipart/form-data">
					    	<input type="hidden" th:field="*{bid}"/>
					    	<input type="hidden" th:field="*{bemail}"/>
					    	<input type="hidden" th:field="*{bnickname}"/>
					      <p class="fs-3 text-center">게시글 수정</p>
					      <div class="row mb-3" th:errors="*{global}" th:errorclass="field-msg">
					      	<label class="col-sm-2 col-form-label text-center"></label>
					      	<div class="col-sm-10" th:each="err:${#fields.globalErrors()}"
					      												 th:text="${err}">
					      		글로벌 오류
					      	</div>
					      </div>
					      <div class="row mb-3">
					        <label for="category" class="col-sm-2 col-form-label text-center">분류</label>
					        <div class="col-sm-10">
					          <select class="form-select" id="category" th:field="*{bcategory}" th:disabled="*{pbnum} ?: _ ">
					            <option value="" selected > == 선택 == </option>
					            <option th:each="item : ${category}"
					            				th:value="${item.code}" th:text="${item.decode}">One</option>
					          </select>
					      		<div th:errors="*{bcategory}" th:errorclass="field-msg"></div>
					        </div>
					      </div>
					      <div class="row mb-3">
					        <label for="title" class="col-sm-2 col-form-label text-center">제목</label>
					        <div class="col-sm-10">
					          <input type="text" class="form-control" id="title" th:field="*{btitle}">
					          <div th:errors="*{btitle}" th:errorclass="field-msg"></div>
					        </div>
					      </div>
					      <div class="row mb-3">
					        <label for="nickname" class="col-sm-2 col-form-label text-center">작성자</label>
					        <div class="col-sm-10">
					        	<p th:text="|*{bnickname}(*{bemail})|"></p>
					        </div>
					      </div>
					      <div class="row mb-3">
					        <label for="content" class="col-sm-2 col-form-label text-center">내용</label>
					        <div class="col-sm-10">
					          <textarea rows="10" class="form-control" id="content" th:field="*{bcontent}"></textarea>
					          <div th:errors="*{bcontent}" th:errorclass="field-msg"></div>
					        </div>
					      </div>
					      <div class="row mb-3" >
					        <label for="file" class="col-sm-2 col-form-label text-center">첨부</label>
					        <div class="col-sm-10" >
					        	<p th:each="file : *{files}">
					          	<a th:href="@{|/attach/${file.store_fname}/${file.upload_fname}}|"
					          	 th:text="${file.upload_fname}"></a>
					          	<i class="fas fa-backspace" th:data-sfname="${file.store_fname}"></i>
					          </p>
					        </div>
					      </div>
					      <div class="row mb-3">
					        <label for="file" class="col-sm-2 col-form-label text-center"></label>
					        <div class="col-sm-10">
					          <input type="file" class="form-control" id="files" th:field="*{files}" multiple="multiple">
					        </div>
					      </div>					      
					      <div class="row mb-3">
					        <div class="col-sm-12 text-sm-end">					        
					        	<!-- 본인글에 대해서 수정,삭제버튼 노출 -->
					       		<th:block th:if="${email} == *{bemail}">
					 <!--       		<th:block th:if="${#strings.equals(email,detailItem.bemail)}"> -->
					          	<button type="submit" class="btn btn-primary" id="modifyBtn" th:data-bnum="*{bnum}">수정</button>
					          </th:block>
					          <button type="button" class="btn btn-primary" id="listBtn" th:data-cate="*{bcategory}">목록</button>
					        </div>
					      </div>
					    </form>
					  </div>      	
      	</main>
      </div>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>푸터</footer>
      </div>
    </div>    
  </div>
</body>
</html>